<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ site.title }} - {% if page.page_title %}{{ page.page_title }}{% else %}{{ site.slogan }}{% endif %}</title>
  <meta name="description" content="{% if page.page_title %}{{ page.page_title }}{% else %}{{ site.slogan }}{% endif %} Local computer repair, networking, and IT support in Ukiah, CA.">
  <meta name="keywords" content="Computer Repair Ukiah, Network Support Mendocino County, IT Support Ukiah CA">
  <meta name="robots" content="index,follow">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="stylesheet" href="{{ "/css/style.css" | prepend: site.baseurl }}">
</head>
